@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

html {
  font-size: 65.5%;
}

:root {
  --main-color: yellow;
  --text-color: #141622;
}

/*top header section start */
.top-header .out-box {
  width: 100%;
  background: var(--main-color);
}

.top-header .out-box .inside-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141622;
  padding: 1rem 0;
  clip-path: polygon(8% 0%, 92% 0%, 96% 100%, 5% 100%);
}

.out-box .inside-box .col-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 13rem;
}

.out-box .inside-box .col-1 span {
  font-size: 1.5rem;
}

.out-box .inside-box .col-1 i {
  color: var(--main-color);
  font-size: 1.3rem;
  padding-right: 0.5rem;
}

.out-box .inside-box .col-2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 13rem;
}

.out-box .inside-box .col-2 a,
.out-box .inside-box .col-2 span,
.out-box .inside-box .col-2 .social i {
  color: #fff;
  transition: 0.5s;
  font-size: 1.5rem;
}

.out-box .inside-box .col-2 .social {
  display: flex;
  gap: 0.9rem;
}

out-box .inside-box .col-2 a i {
  padding-right: 0.5rem;
}

.out-box .inside-box .col-2 .social i:hover,
.out-box .inside-box .col-2 a:hover {
  color: var(--main-color);
}

/* media Query */
@media (max-width: 1150px) {
  .out-box .inside-box .col-1 {
    margin-left: 8rem;
  }

  .out-box .out-box .col-1 {
    margin-right: 8rem;
  }
}

@media (max-width: 991px) {
  .top-header {
    display: none;
  }
}

/**** navbar section ****/
.header {
  width: 100%;
  position: sticky;
  left: 0%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 9.5%;
  background: black;
  box-shadow: 0 0 5px black;
  transition: 0.4s ease;
  z-index: 111;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav .navbar ul li {
  padding: 2.5rem 0.5rem;
}

nav .navbar .navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}

nav .navbar .navLinks li a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
}

nav .others {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav .others i {
  font-size: 1.9rem;
  color: #fff;
  cursor: pointer;
}

nav .others .addbtn {
  position: relative;
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 1.5rem 1.7rem;
  font-size: 1.6rem;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.7s;
}

nav .others .addbtn:hover {
  background-color: #fff;
  color: var(--text-color);
}

nav .others .addbtn i {
  color: var(--text-color);
  padding: 0.5rem;
}

#menuBtn {
  font-size: 3.5rem;
}

nav .navbar ul li:hover,
nav .others i:hover {
  color: var(--main-color);
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active {
  color: var(--main-color);
}

#plus-circle:hover {
  color: var(--text-color);
}

nav .navbar ul li .drop-down {
  position: absolute;
  top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  width: 180px;
  background: black;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
  padding: 1rem 0 0;
  display: none;
}

nav .navbar ul li:hover .drop-down {
  display: flex;
}

nav .navbar ul li .drop-down li {
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  z-index: 100;
  overflow: hidden;
}

nav .navbar ul li .drop-down li a {
  font-size: 1.5rem;
  transition: 0.4s ease;
}

nav .navbar ul li .drop-down li:hover a {
  font-size: 1.6rem;
  padding-left: 0.5rem;
}

.drop-down li .drop-down-six,
.drop-down li .drop-down-five,
.drop-down li .drop-down-four,
.drop-down li .drop-down-three,
.drop-down li .drop-down-two {
  width: 180px;
  position: absolute;
  left: 180px;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(190, 190, 190, 0.5);
  padding: 1rem 0 0;
  z-index: 111;
  overflow: hidden;
  display: none;
}

.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-three,
.drop-down li:hover .drop-down-two {
  display: flex;
}

.drop-down
  li:hover
  .drop-down-six
  li:hover
  a
  .drop-down
  li:hover
  .drop-down-five
  li:hover
  a,
.drop-down li:hover .drop-down-four li:hover a,
.drop-down li:hover .drop-down-three li:hover a,
.drop-down li:hover .drop-down-two li:hover a {
  font-size: 1.8rem;
  padding-left: 0.9rem;
}

.drop-down li .chev {
  position: absolute;
  left: 150px;
  top: 5px;
  color: #fff;
}

.drop-down li:hover .chev {
  color: var(--main-color);
}

/**** Media Query ***/
@media (max-width: 1370px) {
  nav .navbar ul li {
    padding: 2rem 0;
  }

  nav .others {
    gap: 1rem;
  }

  nav .navbar .navLinks {
    gap: 0.5rem;
  }
}

@media (max-width: 1190px) {
  nav .others .addbtn {
    display: none;
  }
}

@media (max-width: 991px) {
  nav .navbar .navLinks {
    position: absolute;
    display: block;
    top: 5.3rem;
    width: 100%;
    left: 0px;
    background: black;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5) 0 0 10px
      rgba(190, 190, 190, 0.5);
    padding-left: 30px;
    transition: 0.5s ease-in-out;
    display: none;
  }

  nav .navbar .navLinks.active {
    display: block;
    transition: 0.5s ease-in-out;
  }

  .header.sticky {
    padding: 0.6rem 9.5%;
  }

  nav .navbar ul li {
    padding: 1rem 0;
  }

  nav .navbar ul li .drop-down {
    position: sticky;
    display: none;
  }

  .drop-down li:hover .drop-down-six,
  .drop-down li:hover .drop-down-five,
  .drop-down li:hover .drop-down-four,
  .drop-down li:hover .drop-down-three,
  .drop-down li:hover .drop-down-two {
    display: none;
    position: sticky;
    margin-top: 0rem;
  }
  nav .others i.cart {
    display: none;
  }
}

@media (max-width: 420px) {
  .header .logo img {
    width: 120px;
  }
  nav .navbar .navLinks {
    top: 4.6rem;
  }
}

/* Home Section Start */
.home .slide {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
}

.home .slide.slide-one {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(223, 223, 3)),
    url(/images/Talking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide.slide-two {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(12, 2, 199)),
    url(/images/Talking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide.slide-three {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(209, 9, 9)),
    url(/images/Talking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide .col-1 {
  flex: 1 1 20rem;
}

.home .slide .col-1 h4 {
  font-size: 2.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 3rem;
}

.home .slide .col-1 h1 {
  color: var(--text-color);
  font-size: 5.2rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.home .slide .col-1 h1 span {
  color: var(--main-color);
}

.home .slide .col-1 p {
  color: var(--text-color);
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding-top: 2rem;
}

.home .slide .col-1 .button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 4rem;
}

.home .slide .col-1 .button button {
  padding: 1.8rem 2.8rem 1.8rem 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.home .slide .col-1 .button button i {
  font-size: 2.5rem;
  position: absolute;
  top: 33%;
  right: -1rem;
  transform: translate(-40%);
}

.home .slide .col-1 .button button.about {
  background-color: var(--main-color);
  color: var(--text-color);
}

.home .slide .col-1 .button button.learn {
  background-color: var(--text-color);
  color: var(--main-color);
}

.home .slide .col-1 .button button.about:hover,
.home .slide .col-1 .button button.learn:hover {
  background: #fff;
  color: var(--text-color);
}
.home .slide .col-2 {
  flex: 1 1 40rem;
  padding-top: 3rem;
}

.home .slide .col-2 img {
  width: 100%;
  height: 40rem;
}
